.header {
  flex: 0 0 75px;
  padding: 1rem;
  .header-right {
    align-items: flex-end;
    height: 36px;
  }
  .search-wrapper {
    width: auto;
    margin-right: 1rem;
    border-radius: 1rem;
  }
  .form-control {
    line-height: 1;
  }
}
.content {
  flex: 1 1 auto;
  >* {
    width: 80%;
    max-width: 960px;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
  }
}
.footer {
  flex: 0 0 auto;
  padding: 0.75rem;
  font-size: 75%;
  text-align: center;
}

.header-navbar {
  width: 30%;
  min-width: 200px;
  max-width: 400px;
}
