<html>

<head>
	<title>{{title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/style/main.css">
	{{#block "head"}}{{/block}}
</head>

<body>
	<div class="container col">
		<div class="header-bar row">

		</div>
		{{#block "content"}}{{/block}}
	</div>

	<script type="text/javascript">
	</script>
</body>

</html>
